*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    // cursor: none;
}

* {
    // --background-color: #52616b;
    // --background-color: white;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}

.viewPort {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

// .scroll-container {
//     overflow: hidden;
//     position: absolute;
//     width: 100%;
//     will-change: transform;
//     backface-visibility: hidden;
// }
//---------------curser----------------------------------
.cursor {
    width: calc(10px + 1vw + 1vh);
    height: calc(10px + 1vw + 1vh);
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    // background-color: red;
    border: 2px solid whitesmoke;
    // border: 10px;
    cursor: none;
    backdrop-filter: blur(0.5px);
    z-index: 500;
    pointer-events: none;
    // transform: translate(-50%, -50%);
    transition: transform 0.05s ease-in-out;
}

.expand {
    transform: scale(0.5, 0.5);
    // transform: scaleY(1.5);
    background-color: rgba(128, 128, 128, 0.575);
}

//-----------------------------------------------
$font-bold-thick: 'Staatliches',
cursive;
$font-bold: 'Lalezar',
cursive;
$font-flat-para: 'Baloo Bhaijaan 2',
cursive;
$font-thin-long: 'Smooch Sans',
sans-serif;
$font-medium: 'Exo 2',
sans-serif;
$color-white: #f0f5f9;
$color-white-faint: #c9d6df;
$color-grey: #52616b;
$color-black: #1e2022;
$-color-black-op: #1e2022b0;
li {
    list-style: none;
    list-style-type: none;
    font-family: $font-flat-para;
    color: $color-white;
    padding-right: 10px;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.nav li {
    list-style: none;
    list-style-type: none;
    font-family: $font-flat-para;
    color: $color-white;
    padding-right: 10px;
    text-transform: uppercase;
    margin-right: 0.5rem;
    // margin: 0.1rem;
    overflow: hidden;
    height: 100%;
    // background-color: white;
}

a {
    text-decoration: none;
    font-family: $font-flat-para;
    color: $color-white;
    height: 100%;
}

header {
    width: 100vw;
    height: 100%;
    position: absolute;
    height: calc(1.5vh + 2.5rem);
    background-color: $color-grey;
    z-index: 1;
}

.nav {
    position: fixed;
    top: 0;
    right: calc(5vw + 10px);
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // margin-top: calc(1rem + 0.5vh);
    padding: 1rem;
    // height: 100%;
    margin-right: 4rem;
    li {
        margin-right: 1rem;
    }
}

.button-container {}

.hamberger-menu {
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    width: 35px;
    height: 25px;
    margin-right: 0.5rem;
    z-index: 100;
    transition: all 0.2s ease-in-out;
    cursor: none;
    button {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        transition: all 0.3s ease-in-out;
        // align-items: space-between;
        cursor: none;
        .bar1 {
            transition: all 0.3s ease-in-out;
            width: 85%;
            height: 1.5px;
            border-radius: 1px;
            background-color: $color-white-faint;
            color: white;
            display: block;
            margin: 0;
        }
        .bar2 {
            @extend .bar1;
            // float: right;
            // text-align: right;
            // justify-self: center;
        }
        .bar3 {
            @extend .bar1;
        }
    }
}

.hamberger-menu button:hover {
    .bar2 {
        align-self: flex-end;
    }
}

.hamberger-menu cross {
    .bar2 {
        align-self: center;
        display: none;
    }
    .bar1 {
        align-self: center;
        transform-origin: top left;
        transform: rotate(45deg);
    }
    .bar3 {
        transform-origin: top left;
        transform: rotate(-45deg);
    }
}

.scrolled .hamberger-menu {
    transition: all 0.2s ease-in-out;
    transform: translateX(-75%);
}

.nav li {
    height: 100%;
    position: relative;
    padding-bottom: 1rem;
    overflow: hidden;
    margin-right: 2rem;
}

.nav-link::after {
    display: block;
    content: '';
    height: 2px;
    background-color: $color-white-faint;
    position: absolute;
    bottom: 15px;
    width: 100%;
    transform: translateX(-101%);
}

.nav-link:hover::after {
    transition: transform 0.3s ease-in;
    transform: translateX(0);
}

.animate-out::after {
    transition: transform 0.3s ease-in;
    transform: translateX(150%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    color: $color-white-faint;
    font-family: $font-bold;
    font-size: calc(1.5rem + 0.1vw);
    margin-left: 4rem;
}

.scrolled .company-name {
    opacity: 0;
}

.logo {
    // background-image: url('./img_logo.svg');
    // width: calc(1rem + 0.1vh);
    height: calc(1.5rem + 1vh);
    margin: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0.5rem;
    margin-left: 1.5rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    // display: none;
    // align-self: center;
}

.scrolled .logo {
    opacity: 1;
    transform: translateX(10%);
}

.logo_company_name {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    position: fixed;
    display: block;
    visibility: hidden;
    right: 0;
    top: 0;
    // filter: blur(2px);
    height: 100vh;
    background-color: $color-black;
    width: 50vw;
    // backdrop-filter: blur(2px);
    z-index: 20 !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
    transform: translateX(50vw);
    transition: transform 0.3s ease-out;
    .side_bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40vh;
        z-index: 25 !important;
        li {
            font-size: calc(1vw + 10px);
            overflow: hidden;
            margin-top: 1rem;
            z-index: 20 !important;
            &:nth-child(1):hover {
                // filter: 0 0 20px #fff, 0 0 30px #aaaaaa, 0 0 40px #dddddd, 0 0 50px #ffffff;
                filter: drop-shadow(1px 1px 5px rgb(143, 143, 143)) drop-shadow(1px 1px 7px rgba(109, 109, 109, 0.788)) drop-shadow(1px 1px 15px rgba(109, 109, 109, 0.788));
            }
            &:nth-child(2):hover {
                // filter: 0 0 20px #fff, 0 0 30px #aaaaaa, 0 0 40px #dddddd, 0 0 50px #ffffff;
                filter: drop-shadow(1px 1px 5px rgb(143, 143, 143)) drop-shadow(1px 1px 7px rgba(109, 109, 109, 0.788)) drop-shadow(1px 1px 15px rgba(109, 109, 109, 0.788));
            }
            &:nth-child(3):hover {
                // filter: 0 0 20px #fff, 0 0 30px #aaaaaa, 0 0 40px #dddddd, 0 0 50px #ffffff;
                filter: drop-shadow(1px 1px 5px rgb(143, 143, 143)) drop-shadow(1px 1px 7px rgba(109, 109, 109, 0.788)) drop-shadow(1px 1px 15px rgba(109, 109, 109, 0.788));
            }
        }
    }
}

.side_bar li:nth-child(1):after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    transform-origin: 50% 50%;
    background: rgb(114, 114, 114);
    margin: 0 auto;
    transform: translate(120%);
    transition: transform 0.3s ease-in-out;
}

.side_bar li:nth-child(2):after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    transform-origin: 50% 50%;
    background: rgb(114, 114, 114);
    margin: 0 auto;
    transform: translate(120%);
    transition: transform 0.3s ease-in-out;
}

.side_bar li:nth-child(3):after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    transform-origin: 50% 50%;
    background: rgb(114, 114, 114);
    margin: 0 auto;
    transform: translate(120%);
    transition: transform 0.3s ease-in-out;
}

.side_bar li:nth-child(1):hover::after {
    transform: translate(0%);
}

.side_bar li:nth-child(2):hover::after {
    transform: translate(0%);
}

.side_bar li:nth-child(3):hover::after {
    transform: translate(0%);
}

.social_link {
    margin-top: 20px;
}

.social_link a {
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    z-index: 11 !important;
    transition: transform 0.3s ease-in-out;
}

.social_link>a:hover {
    filter: drop-shadow(1px 1px 3px rgb(143, 143, 143)) drop-shadow(1px 1px 5px rgba(109, 109, 109, 0.788));
    // font-size: 1.7rem;
    // transform: scale(5, 5);
}

//==================================intro===============================
.intro {
    height: 100vh;
    width: 100vw;
    background: rgb(151, 151, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    perspective: 200;
}

.mainheading {
    color: $color-black;
    font-family: $font-bold;
    // filter: drop-shadow(1px 2px 6px #00000083);
    z-index: 2;
    font-size: calc(1vw + 15px);
    text-align: center;
}

.decor-circle {
    border: 1.5px white solid;
    border-radius: 100%;
    width: calc(10px + 2vw);
    height: calc(10px + 2vw);
    position: absolute;
    top: 45vh;
    left: 27vw;
    opacity: 0.4;
    pointer-events: none;
    z-index: 0;
    opacity: 0;
}

.decor-circle1 {
    @extend .decor-circle;
    left: 53vw;
    top: 95vh;
    width: calc(15px + 5vw);
    height: calc(15px + 5vw);
}

.decor-circle2 {
    @extend .decor-circle;
    left: 60vw;
    top: 20vh;
    width: calc(20px + 10vw);
    height: calc(20px + 10vw);
}

.decor-circle3 {
    @extend .decor-circle;
    left: 75vw;
    top: 40vh;
    width: calc(20px + 10vw);
    height: calc(20px + 10vw);
}

.decor-circle4 {
    @extend .decor-circle;
    left: 35vw;
    top: 95vh;
    width: calc(20px + 2vw);
    height: calc(20px + 2vw);
}

.decor-circle5 {
    @extend .decor-circle;
    left: 10vw;
    top: 70vh;
    width: calc(10px + 7vw);
    height: calc(10px + 7vw);
}

.triangle {
    width: 2px;
    height: 2px;
    border-width: 12.5px 0 12.5px 21.65px;
    border-color: transparent transparent transparent rgba(231, 231, 231, 0.555);
    border-style: solid;
    position: absolute;
    top: 50vh;
    display: block;
    left: 50vw;
    transform: translate(-50%, -50%);
    filter: drop-shadow(2px 2px 10px #000);
    opacity: 0;
    // transform-origin: center left;
    z-index: -1;
}

.rotate_around_circle {
    animation: spinAround 6s linear infinite;
}

@keyframes spinAround {
    from {
        transform: translate(-50%, -50%);
        transform: rotate(0deg) translate(calc(20px + 15vw));
    }
    to {
        transform: translate(-50%, -50%);
        transform: rotate(360deg) translate(calc(20px + 15vw));
    }
}

.triangle1 {
    @extend .triangle;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent rgba(231, 231, 231, 0.555);
    top: 60vh;
    left: 76vw;
    transform: rotate(123deg);
    filter: drop-shadow(2px 2px 10px #000);
    z-index: 0;
}

.dot {
    @extend .decor-circle;
    height: calc(30vw + 10px);
    width: calc(30vw + 10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.dot1 {
    @extend .decor-circle;
    height: calc(35vw + 15px);
    width: calc(35vw + 15px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // background-color: rgb(255, 0, 0);
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index: 0;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.circlePath {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 0;
    height: calc(35vw + 20px);
    width: calc(35vw + 20px);
}

.decorator {
    overflow: hidden;
}

//=====================showcase===============================
.showcase {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.showcase h3 {
    position: absolute;
    left: 5vw;
    top: 50vh;
    color: $color-white-faint;
    margin: 1rem;
    // margin-top: 1rem;
    transform: scaleY(2);
    font-family: $font-thin-long;
}

.showcase h2 {
    position: absolute;
    left: 5vw;
    top: 50vh;
    color: $color-white-faint;
    // color: red;
    // margin: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
    // transform: translateY(100px);
    font-family: $font-thin-long;
}

span.count {
    transform: scaleY(2);
    font-size: 3rem;
    margin: 0.3rem;
}

.showcase {
    h3 {
        position: absolute;
        left: 4vw;
        top: 55vh;
        color: $color-white-faint;
        margin: 1rem;
        transform: scale(0.8);
        text-transform: uppercase;
        font-family: $font-thin-long;
    }
}

.project_details {
    margin-right: 3.5rem;
    grid-column: 8/13;
    // margin-top: 50vh;
    width: calc(15rem + 10vw);
    height: calc(8rem + 1vw);
    // top: 50vh;
    p {
        // position: absolute;
        // right: 10vw;
        // top: 50vh;
        color: $color-white;
        font-family: $font-flat-para;
    }
    h1 {
        color: $color-white;
        font-family: $font-bold;
        letter-spacing: 2px;
    }
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 1rem;
}

button.learn-more {
    width: 12rem;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    word-wrap: unset;
    top: 0;
    left: 2%;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0.5rem;
    margin: 0 0 0 2rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    // margin-left: 3rem;
    letter-spacing: 2px;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.showreel-img {
    background-image: url('/img/img_portfolio-02-480-720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(30vw + 70px);
    aspect-ratio: 4/3;
    margin-right: 3rem !important;
    margin-top: 10vh;
    display: inline-block;
    position: relative;
    grid-column: 6/12;
    z-index: 1;
    img {
        width: inherit;
        height: inherit;
    }
}

.render {
    width: 100vw;
    height: 100vh;
    background-color: rgb(59, 58, 67);
    position: relative;
    // margin: 0 auto;
    perspective: 10;
    // overflow-y: overlay;
}

.hg__image,
.rg__image {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    pointer-events: none;
}

.hg__image--l {
    width: 18vw;
    padding-bottom: 26vw;
}

.hg__image--m {
    width: 18vw;
    padding-bottom: 26.55vw;
}

.hg__image--s {
    width: 13vw;
    padding-bottom: 19vw;
}

.hg__image img,
.rg__image img,
.contact__image img,
.info__image img,
.loader__image img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.8;
}

.hg__left .hg__image:nth-child(1) {
    top: 17vh;
    left: 15vw;
}

.hg__left .hg__image:nth-child(2) {
    top: 30vh;
    left: 6vw;
}

.hg__left .hg__image:nth-child(3) {
    top: 56vh;
    left: 14vw;
}

.hg__right .hg__image:nth-child(1) {
    top: 15vh;
    left: auto;
    right: 21vw;
    width: 24vw;
    padding-bottom: 21vw;
}

.hg__right .hg__image:nth-child(2) {
    top: 27vh;
    left: auto;
    right: 10vw;
    z-index: 1;
}

.hg__right .hg__image:nth-child(3) {
    top: 56vh;
    left: auto;
    right: 19vw;
    width: 16vw;
    padding-bottom: 20vw;
}

//-----------reveal Gallary--------------------------------
.reveal-galery {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    // pointer-events: none;
}

.strip {
    flex-grow: 1 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 0;
    // min-width: 50vh;
    // margin-top: 3rem;
}

.strip:nth-child(2):before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 1px;
    height: 20vh;
    transform: translateY(-70%);
    background-color: $color-white-faint;
}

.strip:nth-child(3):before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 1px;
    height: 20vh;
    transform: translateY(-70%);
    background-color: $color-white-faint;
}

.text {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headings {
    // position: absolute;
    // top: 50%;
    // left: 0;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    span {
        font-family: $font-bold;
        font-size: calc(1vw + 10px);
        opacity: 0.75;
        align-self: center;
    }
    h3 {
        font-family: $font-flat-para;
        font-size: calc(2vw + 10px);
        align-self: center;
    }
}

.explanation-mask {
    align-self: center;
    font-weight: 300;
    letter-spacing: 0.03vw;
    margin-left: 1rem;
    overflow: hidden;
    p {
        align-self: center;
        text-align: center;
    }
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    // pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // transform: translateY(-100%);
    // transition: transform 0.45s ease-in-out;
}

.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.5;
}

.mask {
    height: 100%;
    overflow: hidden;
    // transition: transform 0.45s ease-in-out;
    // transform: translateY(100%);
}

// .strip.active .image,
// .strip.active .mask {
//     transform: translateY(0);
// }
.explanation-mask {
    overflow: hidden;
    padding-left: 5px;
    font-family: $font-flat-para;
}

.explanation {
    overflow: hidden;
}

//-------------------------------------------software-skils-------------
.software-skils {
    background-color: #52616b;
    min-width: 100%;
    max-width: 850px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 0.5rem 1rem;
    h2 {
        font-family: $font-flat-para;
        color: $color-white-faint;
    }
    p {
        font-family: $font-thin-long;
        color: $color-white-faint;
    }
}

.plot {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1rem;
    width: 35vw;
    border-radius: 5px;
}

.box-progress {
    display: block;
    height: 4px;
    border-radius: 6px;
}

.box-progress-bar {
    width: 100%;
    height: 4px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    margin: 8px 0;
    span {
        transform-origin: top left;
    }
}

.box-progress-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
}

.box-progress-percentage {
    text-align: right;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.project-box-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    position: relative;
}

.project-box-footer:after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: calc(100% + 32px);
    top: 0;
    left: -16px;
    height: 1px;
}

.Blender {
    grid-column: 2/3;
    grid-row: 2/3;
}

.AfterEffects {
    grid-column: 4/5;
    grid-row: 2/3;
}

.Web-designing {
    grid-column: 2/3;
    grid-row: 3/4;
}

.Photoshop {
    grid-column: 4/5;
    grid-row: 3/4;
}

.Illustrator {
    grid-column: 2/3;
    grid-row: 4/5;
}

.c1 {
    z-index: 0 !important;
    opacity: 0.7;
}

.mainC {
    top: 70vh;
    left: 50vw;
}

//--------------------fields---------------------------------
.fields {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // pointer-events: none;
    position: relative;
    a {
        font-family: $font-medium;
        font-weight: 500;
        letter-spacing: auto;
        font-size: calc(15px + 1vw + 1vh);
        text-transform: uppercase;
        padding-bottom: 1rem;
        opacity: 0.2;
        z-index: 1;
        color: $color-black;
        // pointer-events: auto;
    }
}

.categories a:hover {
    z-index: 500;
    // opacity: 1;
    letter-spacing: 0.5vw;
    transition: all 0.35s ease-in-out;
}

.frame-l {
    position: absolute;
    width: 35vw;
    height: 55vh;
    top: 10vh;
    left: 20vw;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    .imageL {
        width: 100%;
        height: 102%;
        object-fit: cover;
        object-position: 50% 50%;
        pointer-events: none;
        background-image: url('/img/img_portfolio-02-480-720.jpg');
    }
}

.frame-s {
    @extend .frame-l;
    // width: 25vw;
    height: 40vh;
    top: 14vh;
    left: 55vw;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    .imageS {
        width: 100%;
        height: 102%;
        object-fit: cover;
        object-position: 50% 50%;
        // pointer-events: none;
        background-image: url('/img/img_portfolio-02-480-720.jpg');
    }
}

//--------------------contact------------------------------------
.feature__contact {
    background-color: var(--background-color) !important;
    position: relative;
    will-change: background-color;
    transition: background-color 0.5s linear;
    background-color: var(--background-color);
}

.contact__image img,
.info__image img {
    top: -20%;
    left: 0;
    width: 100%;
    height: 120%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.8;
}

.info__text p {
    font-weight: 300;
    letter-spacing: 0.03vw;
    font-family: $font-flat-para;
}


/* =Main */

section {
    position: relative;
}

.padding {
    padding: 10vh 0;
}

.padding-bottom-hack {
    padding-bottom: 10vh;
}

.chapter {
    font-family: $font-medium;
    font-weight: normal;
    position: absolute;
    left: 6.6vw;
    top: 10vh;
    z-index: 2;
    color: white;
    font-size: 1.6vw;
}

.chapter span {
    opacity: 0.4;
}


/* =contact */

.contact {
    position: relative;
}

.contact .chapter,
.contact .chapter {
    top: inherit;
    left: inherit;
    position: relative;
    margin: 0 6.6vw 10vh 6.6vw;
}

.contact__image {
    margin: 0 50% 0 16.6%;
    padding-bottom: 50%;
    position: relative;
    overflow: hidden;
}

.contact__image img {
    opacity: 1;
    height: 120%;
    top: -20%;
}

.contact__text {
    position: absolute;
    left: calc(50vw + 6.6vw);
    right: calc(6.6vw * 4);
    top: calc(50% + (10vw / 2));
    /* 50% not 50vh becasue contact is not 100vh */
    transform: translateY(-50%);
}

.contact__text h3 {
    font-family: $font-bold-thick;
    font-size: 3.6vw;
    line-height: 1.192307692;
    font-weight: normal;
    letter-spacing: 0.2vw;
    color: whitesmoke;
}


/* =Contact - same layout as contact, but flipped image and text */

.contact .chapter {
    color: $color-white-faint;
}

.contact {
    padding-bottom: 3rem;
}

.is-flipped .contact__image {
    margin: 0 16.6% 0 50%;
}

.is-flipped .contact__text {
    right: calc(50vw + 6.6vw);
    left: 16.6%;
}


/* =How we work */

.feaure .chapter {
    top: calc(10vh * 2);
}

.fixed-nav {
    position: absolute;
    top: calc(10vh * 3);
    left: 6.6vw;
}

.fixed-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fixed-nav li {
    overflow: hidden;
}

.fixed-nav a {
    color: white;
    text-decoration: none;
    font-family: $font-flat-para;
    position: relative;
    padding-left: 1.8vw;
    transform: translateX(-1.8vw);
    display: block;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.fixed-nav li a::before {
    content: '';
    display: block;
    height: 2px;
    width: 1.3vw;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 0;
}

.fixed-nav li.is-active a {
    transform: translateX(0);
    opacity: 1;
}

.info__heading {
    font-family: $font-medium;
    position: relative;
    z-index: 2;
    /* fix for Safari */
}

.info__heading h3,
.info__heading p {
    position: absolute;
    left: 25vw;
    top: calc(10vh * -1.25);
    font-size: 3.6vw;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    color: white;
}

.info__heading p {
    font-size: 1.6vw;
    opacity: 0.4;
    top: calc(10vh * -1.75);
}

.info__image {
    width: calc(50vw + 6.6vw);
    margin: 0 6.6vw 0 33.33vw;
    padding-bottom: 33.33vw;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* fix for Safari */
}

.info__image img {
    opacity: 0.9;
    height: 120%;
    top: -20%;
}

.info__text {
    color: $color-black;
    margin: 0 calc(30vw + 6.6vh) 10vw 33.33vw;
}